.container-1 {
    max-height: 30%;
    background-color: #011b27;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

li {
   margin-right: 1em;
}

.p-1 {
    font-size: 200;
}

.body-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 12px;
    align-items: center;
    padding: 24px;
    padding-bottom: 40px;
}

.box-2 {
    width: 25%;
    height: 8em;
}

button {
    background-color: rgb(2, 91, 224);
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    border-radius: 8px;
}

img {
    max-height: 10em;
    height: auto;
    width: 20em;
}

.container-2 {
    background-color: white;
    max-height: 30%;
    }

.header-2 {
    text-align: center;
    font-weight: bold;
}
.squares {
    display: flex;
    justify-content: center;
    
}
.square-1, .square-2, .square-3, .square-4 {
    border: 5px solid blue;
    height: 5em;
    width: 5em;
    padding: 10px;
    border-radius: 8px;
    margin-right: 16px;
}

.subtext {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.p-2 {
    max-width: 5em;
    margin-right: 16px;
    padding: 15px;
}

