.container-1 {
    background-color: #011b27;
    color: white;
    height: 20em;
    padding-bottom: 4em;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

li {
   margin-right: 1em;
   font-size: 18px;
   color: #e5e7eb;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #FAF9F8;
}

.p-1 {
    font-size: 48px;
    font-weight: bolder;
    color: #FAF9F8;
}

.body-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 12px;
    align-items: center;
    padding: 24px;
    padding-bottom: 40px;
}

.box-2 {
    width: 25%;
    
}

.button {
    background-color: rgb(2, 91, 224);
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    border-radius: 8px;
}



img {
    height: 15em;
    width: auto;
}

.container-2 {
    background-color: white;
    height: 20em;
    padding-bottom: 4em;
    padding-top: 3em;
    }

.body-2 {
}

.header-2 {
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 20px;
}
.squares {
    display: flex;
    justify-content: center;
}
.square-1, .square-2, .square-3, .square-4 {
    border: 2px solid rgb(2, 91, 224);
    height: 8em;
    width: 8em;
    padding: 10px;
    border-radius: 8px;
    margin-right: 40px;
}

.subtext {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.p-2 {
    max-width: 8em;
    margin-right: 40px;
    padding: 15px;
}

.container-3 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    height: 20em;
    padding-top: 6em;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote-source {
    font-weight: bolder;
    text-align: end;
}

.box-3 {
    width: 40%;
}

.box-4 {
    background-color: rgb(2, 91, 224); 
    width: 60%;
    height: 8em;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-4 {
    background-color: white;
    height: 20em;
    padding-bottom: 4em;
    padding-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-2 {
    background-color: rgb(2, 91, 224);
  border: solid;
  border-color: white;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    border-radius: 8px;
    height: 1em;
    margin-left: 6em;
}

.header-3 {
    font-weight: bold;
}

.text {
   color: #f9faf8; 
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8em;
}